packages:
  yum:
    php70-zip: []
    php70-imap: []

container_commands:
  00_create_io_permissions:
    command: "touch /opt/elasticbeanstalk/hooks/appdeploy/post/99_change_permissions.sh"
    ignoreErrors: true 
  01_create_crons_file:
    command: "touch /etc/cron.d/mycron"
    leader_only: true
  02_remove_old_cron:
    command: "rm -f /etc/cron.d/*.bak"
    leader_only: true
  
      
files:     
  "/opt/elasticbeanstalk/hooks/appdeploy/post/99_change_permissions.sh":
    mode: "000755"
    owner: ec2-user
    group: ec2-user
    content: |
      #!/bin/sh
      cd /var/app/current
      find . -type d -exec chmod 755 {} \;
      find . -type f -exec chmod 644 {} \;
      php app/console cache:clear -e prod
      chmod -R g+w app/cache/
      chmod -R g+w app/logs/
      chmod -R g+w app/config/
      chmod -R g+w media/files/
      chmod -R g+w media/images/
      chmod -R g+w translations/
      chown -R webapp:webapp .
      chmod -R 777 app/cache/

  "/etc/cron.d/mycron":
    mode: "000644"
    owner: ec2-user
    group: ec2-user
    content: |
      #to keep the segments current.
      */15 * * * * root sudo -i ; sudo /usr/bin/php /var/app/current/app/console mautic:segments:update 

      #CAMPAIGNS: rebuild, trigger; Segmnets send
      * * * * * root sudo -i ; sudo /usr/bin/php /var/app/current/app/console mautic:campaigns:rebuild ; sudo /usr/bin/php /var/app/current/app/console mautic:campaigns:trigger ; sudo /usr/bin/php /var/app/current/app/console mautic:emails:send 

      #*/15 * * * * root sudo -i ; sudo /usr/bin/php /var/app/current/app/console mautic:messages:send 

      #*/20 * * * * root sudo -i ; sudo /usr/bin/php /var/app/current/app/console mautic:broadcasts:send

      #download database
      5 6 * * 7 root sudo -i ; sudo /usr/bin/php /var/app/current/app/console mautic:iplookup:download 
